<a href="https://colab.research.google.com/github/Diksha-Bora/Data-Science-project/blob/main/NaiveBayes16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UNDER-SAMPLING TECHNIQUES AND THEIR F1_SCORE

In [94]:
# IMPORTING REQUIRED LIBRARIES
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [95]:
# LOADING DATASET 
data = pd.read_csv("/content/adult.csv",header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [96]:
# RENAMING COLUMN NAMES
new_col=[]
for i in data.columns:
  new_col.append("col_"+str(i))
data.columns = new_col
data.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [97]:
# DROPPING COLUMNS WHICH DON'T CONTRIBUTE A LOT IN THE CALCULATION FOR TARGET COLUMN 
data = data.drop(["col_10","col_11"],axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_0   32561 non-null  int64
 1   col_1   32561 non-null  object
 2   col_2   32561 non-null  int64
 3   col_3   32561 non-null  object
 4   col_4   32561 non-null  int64
 5   col_5   32561 non-null  object
 6   col_6   32561 non-null  object
 7   col_7   32561 non-null  object
 8   col_8   32561 non-null  object
 9   col_9   32561 non-null  object
 10  col_12  32561 non-null  int64
 11  col_13  32561 non-null  object
 12  col_14  32561 non-null  object
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [98]:
# CATEGORIZING DATA BASED ON DATA TYPE
cat_col=[]
num_col=[]
for i in (data.columns):
  if (data[i].dtype)=="object":
    cat_col.append(i)
  else:
    num_col.append(i)
print(cat_col)
print(num_col)

['col_1', 'col_3', 'col_5', 'col_6', 'col_7', 'col_8', 'col_9', 'col_13', 'col_14']
['col_0', 'col_2', 'col_4', 'col_12']

In [99]:
# CONVERTING CATEGORIZED DATA TO NUMERICAL DATATYPE
from sklearn.preprocessing import LabelEncoder
for i in cat_col:
  le = LabelEncoder()
  data[i+"_encoded"] = le.fit_transform(data[i])  
data = data.drop(cat_col,axis=1)
data.head()

,col_0,col_2,col_4,col_12,col_1_encoded,col_3_encoded,col_5_encoded,col_6_encoded,col_7_encoded,col_8_encoded,col_9_encoded,col_13_encoded,col_14_encoded
0,39,77516,13,40,7,9,4,1,1,4,1,39,0
1,50,83311,13,13,6,9,2,4,0,4,1,39,0
2,38,215646,9,40,4,11,0,6,1,4,1,39,0
3,53,234721,7,40,4,1,2,6,0,2,1,39,0
4,28,338409,13,40,4,9,2,10,5,2,0,5,0

In [100]:
x = data.drop("col_14_encoded",axis=1)
y = data["col_14_encoded"]

In [101]:
# SPLITTING DATASETINTO TRAIN AND TEST
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=52,stratify=y)

ClusterCentroids

In [102]:
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids()
x_train_unders,y_train_unders = cc.fit_resample(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [103]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders,y_train_unders)

GaussianNB()

In [104]:
y_pred_train = gnb.predict(x_train_unders)
y_pred_test = gnb.predict(x_test)

In [105]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders,y_pred_train))
print("TEST :",f1_score(y_test,y_pred_test))

TRAIN : 0.7759571328725634
TEST : 0.5433326129241409

RandomUnderSampler

In [106]:
from imblearn.under_sampling import RandomUnderSampler
ros = RandomUnderSampler(sampling_strategy='auto')
x_train_unders1,y_train_unders1 = ros.fit_resample(x_train,y_train)

In [107]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders1,y_train_unders1)

GaussianNB()

In [108]:
y_pred_train1 = gnb.predict(x_train_unders)
y_pred_test1 = gnb.predict(x_test)

In [109]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders1,y_pred_train1))
print("TEST :",f1_score(y_test,y_pred_test1))

TRAIN : 0.7617444958631329
TEST : 0.5420032310177707

NearMiss

In [110]:
from imblearn.under_sampling import NearMiss
nm = NearMiss(sampling_strategy='auto')
x_train_unders2,y_train_unders2 = nm.fit_resample(x_train,y_train)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders2,y_train_unders2)
y_pred_train2 = gnb.predict(x_train_unders2)
y_pred_test2 = gnb.predict(x_test)

In [111]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders2,y_pred_train2))
print("TEST :",f1_score(y_test,y_pred_test2))

TRAIN : 0.6727385268370325
TEST : 0.4647785039941903

EditedNearestNeighbours

In [112]:
from imblearn.under_sampling import EditedNearestNeighbours
enn = EditedNearestNeighbours()
x_train_unders3,y_train_unders3 = enn.fit_resample(x_train,y_train)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders3,y_train_unders3)
y_pred_train3 = gnb.predict(x_train_unders3)
y_pred_test3 = gnb.predict(x_test)

In [113]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders3,y_pred_train3))
print("TEST :",f1_score(y_test,y_pred_test3))

TRAIN : 0.727612777736216
TEST : 0.5623983267487799

RepeatedEditedNearestNeighbours

In [114]:
from imblearn.under_sampling import RepeatedEditedNearestNeighbours
renn = RepeatedEditedNearestNeighbours()
x_train_unders4,y_train_unders4 = renn.fit_resample(x_train,y_train)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders4,y_train_unders4)
y_pred_train4 = gnb.predict(x_train_unders4)
y_pred_test4 = gnb.predict(x_test)

In [115]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders4,y_pred_train4))
print("TEST :",f1_score(y_test,y_pred_test4))

TRAIN : 0.7844564110027654
TEST : 0.541615915550142

AllKNN

In [116]:
from imblearn.under_sampling import AllKNN
a = AllKNN()
x_train_unders5,y_train_unders5 = a.fit_resample(x_train,y_train)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders5,y_train_unders5)
y_pred_train5 = gnb.predict(x_train_unders5)
y_pred_test5 = gnb.predict(x_test)

In [117]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders5,y_pred_train5))
print("TEST :",f1_score(y_test,y_pred_test5))

TRAIN : 0.7578607111372317
TEST : 0.5553640672124085

OneSidedSelection

In [118]:
from imblearn.under_sampling import OneSidedSelection
oss = OneSidedSelection(random_state=0)
x_train_unders6,y_train_unders6 = a.fit_resample(x_train,y_train)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train_unders6,y_train_unders6)
y_pred_train6 = gnb.predict(x_train_unders6)
y_pred_test6 = gnb.predict(x_test)

In [119]:
from sklearn.metrics import f1_score
print("TRAIN :",f1_score(y_train_unders6,y_pred_train6))
print("TEST :",f1_score(y_test,y_pred_test6))

TRAIN : 0.7578607111372317
TEST : 0.5553640672124085